Django
djangorestframework
django-filter
drf-yasg
celery
django-cors-headers
python-dotenv
django-celery-results
redis
psycopg2-binary
openai
gunicorn
django-storages
boto3
pycurl
pillow
langchain
tiktoken
mysql-connector-python
pymongo
